<header class="header">
    <nav class="nav custom-nav">
        <!-- 1. SOL: Logo ve Profil -->
        <div class="logo-box">
            {{- $label_text := (.Site.Params.label.text | default .Site.Title) }}
            {{- if .Site.Params.label.icon }}
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)" class="logo-link">
                <img src="{{ .Site.Params.label.icon | absURL }}" alt="" aria-label="logo"
                    height="{{- default "30" .Site.Params.label.iconHeight -}}">
                {{- $label_text -}}
            </a>
            {{- else }}
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)">{{- $label_text -}}</a>
            {{- end }}
        </div>

        <!-- 2. ORTA: Arama Barı -->
        <div class="search-box">
            <form action="{{ "search/" | absLangURL }}" method="get">
                <input type="text" name="q" placeholder="Yazılarda ara..." class="search-input">
            </form>
        </div>

        <!-- 3. SAĞ: Menü ve Tema Butonu -->
        <div class="menu-box">
            <ul id="menu" class="menu-items">
                {{- range .Site.Menus.main }}
                {{- $menu_item_url := (cond (strings.HasPrefix .URL "http") .URL (.URL | absLangURL) ) }}
                <li>
                    <a href="{{ $menu_item_url }}" title="{{ .Title | default .Name }}">
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{- end }}
            </ul>
            
            <div class="logo-switches">
                {{- if (not .Site.Params.disableThemeToggle) }}
                <button id="theme-toggle" accesskey="t" title="Tema Değiştir (Alt + T)" class="theme-btn">
                    <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                    </svg>
                </button>
                {{- end }}
            </div>
        </div>
    </nav>
</header>